.footer__policy {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #E0E1E3;
}

.footer__policy::after {
    content: "|";
    padding-right: 16px;
    padding-left: 16px;
}

.footer__policy:last-of-type::after {
    display: none;
}

@media screen and (max-width: 1279px) {
    .footer__policy:last-child {
        display: none;
    }

    .footer__policy::after {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .footer__policy {
        font-size: 11px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #A960AB;
    }
}