.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
    row-gap: 64px;
}

@media  screen and (max-width: 1439px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  screen and (max-width: 1023px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}