.heading__menu-link {
    text-decoration: none;
    color: #DDDDE2;
}

.heading__menu-link:hover {
    opacity: 0.4;
}

@media screen and (max-width: 767px) {
    .heading__menu-link {
        display: none;
    }
}