.footer__menu-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
    font-weight: 325;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #E0E1E3;
}

.footer__menu-link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1023px) {
    .footer__menu-link {
        font-size: 16px;
        line-height: 24px;
    }
}