.button-vacancies_place_team {
    background-color: #1E74EC;
    color: #EEEFF1;
    box-sizing: border-box;
}

.button-vacancies_place_team:hover {
    border: 1px solid white;
    background-color: #1E74EC;
    color: #EEEFF1;
}

@media screen and (max-width: 1279px) {
    .button-vacancies_place_team {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .button-vacancies_place_team {
        width: 343px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
}