.contacts {
    max-width: 1920px;
    font-family: 'Inter', 'Gotham', 'Gotham XNarrow', sans-serif;
    background-image: url(../../images/contacts_background.png);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
    .contacts {
        background-size: 100% 250px;
    }
}