.services__card-description-img-wrapper {
    margin: 0;
    padding: 34px 0 24px;
    width: 100%;
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .services__card-description-img-wrapper {
        padding-top: 16px;
        padding-bottom: 26px;
        gap: 24px;
    }
}