.contacts__form-footnote {
    width: 215px;
    margin: 0;
    padding-bottom: 4px;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 11px;
    line-height: 1.82;
}

@media screen and (max-width: 1279px) {
    .contacts__form-footnote {
        width: 100%;;
    }
}