.ideas__content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto 0 240px;
    padding: 243px 80px 244px 0;
}

@media screen and (max-width: 1439px) {
    .ideas__content {
        margin-left: 150px;
        padding-top: 260px;
    }
}

@media screen and (max-width: 1279px) {
    .ideas__content {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .ideas__content {
        margin-left: auto;
        align-items: center;
        padding: 180px 16px;
    }
}

@media screen and (max-width: 767px) {
    .ideas__content {
        padding-top: 80px;
        padding-bottom: 64px;
        align-items: flex-start;
    }
}