.page-header__subtitle {
    margin: 0;
    padding: 0 0 16px;
    font-family: 'Gotham';
    font-weight: 700;
    font-size: 62px;
    line-height: 1.1;
    color: #EEEFF1;
}

@media screen and (max-width: 1279px) {
    .page-header__subtitle {
        font-size: 48px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .page-header__subtitle {
        font-size: 30px;
        line-height: 32px;
    }
}