.business-card__title {
    margin: 0;
    padding: 16px 0 4px;
    font-family: 'Gotham';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #03115F;
}

@media screen and (max-width: 767px) {
    .business-card__title {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
    }
}