.supplementary-cards__card {
    width: 453px;
    min-height: 214px;
    display: flex;
    background: #E6E8EF;
}

@media screen and (max-width: 767px) {
    .supplementary-cards__card {
        width: 100%;
        min-height: 0;
        flex-direction: column;
        align-items: center;
        background: transparent;
    }
}