.resume-form {
    margin: 0 auto;
    padding: 64px 124px;
    max-width: 1194px;
    min-height: 882px;
    box-sizing: border-box;
    background: #EEEFF1;
    display: flex;
}

@media screen and (max-width: 1279px) {
    .resume-form {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .resume-form {
        background: #E6E8EF;
        padding: 0 16px 40px;
    }
}