.footer__menu-item {
    margin: 0;
    padding: 0 0 16px 0;
}

.footer__menu-item:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .footer__menu-item:last-of-type {
        padding-bottom: 16px;
    }
}