.services__card-subtitle {
    margin: 0;
    padding: 0 0 40px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 26px;
    line-height: 1.23;
}

@media screen and (max-width: 767px) {
    .services__card-subtitle {
        padding-bottom: 24px;
        font-size: 14px;
        line-height: 1.43;
    }
}