.office__title {
    margin: 0;
    padding: 0 0 24px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 1.1;
    color: #03115F;
}

@media screen and (max-width: 767px) {
    .office__title {
        padding-bottom: 8px;
        font-size: 30px;
        line-height: 1.07;
    }
}