.services__card-description-img {
    width: 110px;
    height: 110px;
    border-radius: 16px;
}

@media screen and (max-width: 767px) {
    .services__card-description-img {
        width: 64px;
        height: 64px;
    }
}