.portfolio {
    max-width: 1920px;
    font-family: 'Inter', 'Gotham', 'Gotham XNarrow', sans-serif;
    position: relative;
}

.portfolio::after {
    content: "";
    width: 100%;
    height: 640px;
    background-color: #E6E8EF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media  screen and (max-width: 767px) {
    .portfolio::after {
        height: 425px;
    }
}