.ideas {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter', 'Gotham', 'Gotham XNarrow', sans-serif;
    background-image: url(../../images/ideas_bgi.png);
    background-size: cover;
    background-position: center;
}