.info__description {
    margin: 0;
    padding: 24px 0 40px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 18px;
    line-height: 1.22;
    color: #535670;
}

@media screen and (max-width: 1279px) {
    .info__description {
        padding-top: 16px;
        padding-bottom: 18px;
    }
}

@media screen and (max-width: 767px) {
    .info__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}