.game-dev__card {
    margin: 0;
    padding: 0;
    max-width: 454px;
    background: #EEEFF1;
}

@media screen and (max-width: 1279px) {
    .game-dev__card {
        min-width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .game-dev__card {
        min-width: 100%;
    }
}