.supplementary-cards__card-text {
    margin: 0;
    padding: 61px 33px 61px 33px;
    max-width: 220px;
    min-height: 88px;
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    display: flex;
    align-items: center;
    color: #35417F;
}