.also__card-title {
    margin: 0;
    padding: 0 0 24px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #35417F;
}

@media screen and (max-width: 767px) {
    .also__card-title {
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 1.2;
    }
}