.also {
    padding: 0 30px;
    max-width: 1440px;
    font-family: 'Inter', 'Gotham', 'Gotham XNarrow', sans-serif;
}

@media screen and (max-width: 767px) {
    .also {
        padding-left: 16px;
        padding-right: 16px;
    }
}