.contacts__form-button-wrapper {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1279px) {
    .contacts__form-button-wrapper {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .contacts__form-button-wrapper {
        width: 100%;
    }
}