.vacancies {
    max-width: 100%;
    min-height: 820px;
    background-image: url(../../images/team_opened_positions_bgi.png);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1439px) {
    .vacancies {
        min-height: 700px;
    }
}

@media screen and (max-width: 1023px) {
    .vacancies {
        min-height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .vacancies {
        min-height: 322px;
    }
}