.block__heading-description {
    max-width: 906px;
    margin: 0;
    padding-bottom: 64px;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #535670;
}

@media screen and (max-width: 767px) {
    .block__heading-description {
        font-size: 14px;
        line-height: 20px;
    }
}