.info {
    max-width: 1440px;
    padding: 0 30px;
    font-family: 'Inter', 'Gotham', 'Gotham XNarrow', sans-serif;
    display: flex;
    align-items: center;
}

@media  screen and (max-width: 1279px) {
    .info {
        flex-direction: column;
    }
}

@media  screen and (max-width: 767px) {
    .info {
        padding-right: 0;
        padding-left: 0;
    }
}