.block-heading_place_projects-services {
    padding-top: 110px;
}

@media  screen and (max-width: 1659px) {
    .block-heading_place_projects-services {
       margin: 0 auto;
       padding-top: 80px;
       text-align: center;
    }
}