.also__title {
    margin: 0;
    padding: 0 0 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 1.1;
    color: #03115F;
}

@media screen and (max-width: 767px) {
    .also__title {
        padding-bottom: 24px;
        font-size: 30px;
        line-height: 1.07;
    }
}