.offer__subtitle {
    margin: 0;
    padding: 0 0 24px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 1.1;
    color: #E6E8EF;
}

@media screen and (max-width: 767px) {
    .offer__subtitle {
        padding-bottom: 48px;
        font-size: 30px;
        line-height: 1.07;
    }
}