.project-form__privacy-link {
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 11px;
    line-height: 1.82;
    color: #A960AB;
}

@media screen and (max-width: 767px) {
    .project-form__privacy-link {
        line-height: 1.27;
    }
}