.footer__link-image {
    width: 32px;
    height: 32px;
    background-color: transparent;
    display: none;
}

@media screen and (max-width: 1439px) {
    .footer__link-image {
        display: inline;
    }
}