.header__title {
    margin: 0 0 24px;
    padding: 0;
    font-family: 'Gotham XNarrow';
    font-style: normal;
    font-weight: 500;
    font-size: 74px;
    line-height: 0.95;
    letter-spacing: 0.02em;
    color: #EEEFF1;
}

@media screen and (max-width: 1279px) {
    .header__title {
        font-size: 62px;
    }
}

@media screen and (max-width: 1279px) {
    .header__title {
        max-width: 600px;
        font-size: 52px;
    }
}

@media screen and (max-width: 767px) {
    .header__title {
        font-size: 36px;
        line-height: 1;
        margin-bottom: 16px;
    }
}