.heading__logo-link {
    text-decoration: none;
    display: grid;
    grid-template-areas:
        "logo title"
        "logo subtitle";
    row-gap: 8px;
    column-gap: 15px;
}

@media screen and (max-width: 767px) {
    .heading__logo-link {
        column-gap: 11px;
        row-gap: 5px;
    }
}