.equipment__card-container {
    padding-bottom: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

@media screen and (max-width: 1439px) {
    .equipment__card-container {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1023px) {
    .equipment__card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 64px;
        justify-items: center;
    }
}