.footer__team-contacts {
    margin: 0;
    padding: 0 0 16px 0;
    font-family: 'Gotham';
    font-weight: 325;
    font-size: 16px;
    line-height: 1.38;
    color: #F0F0F1;
}

.footer__team-contacts:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .footer__team-contacts {
        font-size: 12px;
        line-height: 16px;
    }
}