.also__card-subtitle {
    margin: 0;
    padding: 0 0 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

@media screen and (max-width: 767px) {
    .also__card-subtitle {
        font-size: 12px;
        line-height: 1.33;
    }
}